<template>
    <v-dialog v-model="dialog" width="600">
        <v-card align="center">
                <v-card class="elevation-12">
                <v-toolbar
                    color="primary"
                    dark

                >
                    <v-toolbar-title>Edit info</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <v-form>
                    <v-text-field
                        label="Full name"
                        name="Full name"
                        prepend-icon="mdi-account"
                        type="text"
                        v-model="user.fullname"
                        :error="!!errors.fullname"
                        :error-messages="errors.fullname"
                    ></v-text-field>
                    <v-text-field
                        label="Login"
                        name="login"
                        prepend-icon="mdi-account"
                        type="text"
                        v-model="user.login"
                        :error="!!errors.login"
                        :error-messages="errors.login"
                    ></v-text-field>
                    
                    <v-text-field
                        label="email"
                        name="email"
                        prepend-icon="mdi-email"
                        type="text"
                        v-model="user.email"
                        :error="!!errors.email"
                        :error-messages="errors.email"
                    ></v-text-field>
                    <v-checkbox
                        v-model="user.changePassword"
                        label="change the password ?"
                    ></v-checkbox>
                    <v-text-field
                        label="New password"
                        name="password"
                        prepend-icon="mdi-email"
                        type="password"
                        v-model="user.password"
                        v-if="user.changePassword"
                        :error="!!errors.password"
                        :error-messages="errors.password"
                    ></v-text-field>
                    <v-text-field
                        label="Password confirmation"
                        name="password_confirmation"
                        prepend-icon="mdi-email"
                        type="password"
                        v-model="user.password_confirmation"
                        v-if="user.changePassword"
                    ></v-text-field>
                    <v-text-field
                        label="Password"
                        name="oldPassword"
                        prepend-icon="mdi-email"
                        type="password"
                        v-model="user.oldPassword"
                    ></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn outlined color="red" @click="dialog = false"  >Cancel</v-btn>
                    <v-btn color="primary" @click="saveUser()" >Save</v-btn>
                </v-card-actions>
                </v-card>
        </v-card>
    </v-dialog>
</template>
<script>
import { bus } from '../../../main';
export default {
    props:{
        userId: { required: true },
        status: { required: true }
    },
    computed: {
        dialog: {
            get() {
                return this.status;
            },
            set(value) {
                if (!value) {
                    this.$emit("close");
                }
            }
        }
    },
    data() {
        return {
            user:{
                changePassword: false
            },
            errors:{}
        }
    },
    mounted() {
        this.getUser();
    },
    methods: {
        getUser(){
            this.$http.get(`/user/${this.userId}`).then(response=>{
                this.user = response.data;
            })
        },
        saveUser(){
            this.$http.put(`/user/${this.userId}`,this.user).then(()=>{
                this.dialog = false;
                bus.$emit('user-updated');
            }).catch(error=>{
                this.errors = error.response.data.errors;
            });
        }
    },
}
</script>