<template>
    <v-list three-line>
        <template v-for="(following, index) in followings">
            <v-list-item
            :key="following.id"
            @click="detailsPage(following.id)"
            >

            <v-list-item-avatar>
                <v-img :src="getUserPhoto(following.id)"></v-img>
            </v-list-item-avatar>
            
            <v-list-item-content>
                <v-list-item-title v-text="following.fullname"></v-list-item-title>
                <v-list-item-subtitle v-text="following.login"></v-list-item-subtitle>

            </v-list-item-content> 
            <v-spacer></v-spacer>
                <v-btn icon color="red"  ><v-icon>mdi-delete</v-icon></v-btn>
            </v-list-item>
        </template>
        <v-dialog v-model="deleteDialog" max-width="400">
          <v-card>
            <v-card-title class="headline">Delete Post</v-card-title>
            <v-card-text>Are you sure you want to delete this post?</v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="red darken-1" text @click=""> Yes </v-btn>
              <v-btn color="green darken-1" text @click="deleteDialog = false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-pagination
            :length="pages"
            v-model="page"
        ></v-pagination>
    </v-list>
    
</template>
<script>
export default {
    props:{
        user: { required: true }
    },
    data() {
        return {
            deleteDialog: false,
            followings: [],
            page:1,
            pages: null
        }
    },
    mounted() {
        this.getFollowing()
    },
    methods: {
        getFollowing(){
            this.axios.get(`/user/${this.user}/followings`, {params: {page: this.page}}).then(response => {
                this.followings = response.data.data;
                this.pages = response.data.last_page;
            })
        },
        detailsPage(id){
            this.$router.push(`/user/${id}/profile`);
        },
        showDeleteDialog(id){
            this.postId = id;
            this.deleteDialog = true;
        },
        deletePost(){
            this.$http.delete(`/post/${this.postId}`).then(()=>{
                this.deleteDialog = false;
            })
        },
        getUserPhoto(id){
            return `${process.env.VUE_APP_API_URL}/api/user/${id}/image`;
        }
    },
    watch: {
        page(){
            this.getFollowing();
        }
    },
}
</script>