<template>
    <v-list three-line>
        <template v-for="(post, index) in posts">
            <v-list-item
            :key="post.title"
            @click=""
            >

            <v-list-item-content @click="detailsPage(post.id)">
                <v-list-item-title v-html="post.title"></v-list-item-title>
                <v-list-item-subtitle v-html="post.content"></v-list-item-subtitle>

            </v-list-item-content> 
            <v-spacer></v-spacer>
                <v-btn icon color="purple" v-if="me.id == post.user_id" :to="'/post/edit/'+post.id" ><v-icon>mdi-pencil</v-icon></v-btn>
                <v-btn icon color="red" v-if="me.id == post.user_id"  @click="showDeletePage(post.id)" ><v-icon>mdi-delete</v-icon></v-btn>
            </v-list-item>
        </template>
        <v-dialog v-model="deleteDialog" max-width="400">
          <v-card>
            <v-card-title class="headline">Delete Post</v-card-title>
            <v-card-text>Are you sure you want to delete this post?</v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="red darken-1" text @click="deletePost()"> Yes </v-btn>
              <v-btn color="green darken-1" text @click="deleteDialog = false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-pagination
            :length="pages"
            v-model="page"
        ></v-pagination>
    </v-list>
    
</template>
<script>
export default {
    props:{
        user:{ required: true }
    },
    data() {
        return {
            deleteDialog: false,
            postId: null,
            me:{},
            page: 1,
            pages: null,
            posts:[]
        }
    },
    mounted() {
        this.getAuthUser();
        this.getPosts();
    },
    methods: {
        getAuthUser(){
            this.$http.post(`/auth/me`).then(response =>{
                this.me = response.data;
            } )
        },
        getPosts(){
            this.axios.get(`/post/user/${this.user}`, {params: {page: this.page}}).then(response => {
                this.posts = response.data.data;
                this.pages = response.data.last_page;

            })
        },
        showDeletePage(id){
            this.postId = id;
            this.deleteDialog = true;
        },
        deletePost(){
            this.$http.delete(`/post/${this.postId}`).then(()=>{
                this.deleteDialog = false;
                this.getPosts();
            })
        },
        detailsPage(id){
            this.$router.push(`/post/details/${id}`);
        }
    },
    watch: {
        page(){
            this.getPosts();
        }
    },
}
</script>