<template>
	<v-dialog v-model="dialog" max-width="500">
		<v-card class="elevation-4" >
            <v-card-title> 
                <v-list-item three-line>
                    <v-list-item-avatar
                        size="50"
                        tile
                    >
                        <v-img src="https://cdn.vuetifyjs.com/images/cards/halcyon.png"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content class="align-self-start">
                        <v-list-item-title
                        class="headline mb-2"
                        v-if="comment.user"
                        > {{comment.user.login}} </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-card-title>
            <v-card-text>
                <v-textarea
                outlined
                name="input-7-4"
                v-model="comment.content"
                ></v-textarea>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn small color="success" dark @click="save">Save</v-btn>
                <v-btn small color="success" dark @click="dialog= false">Close</v-btn>

            </v-card-actions>
        </v-card>
	</v-dialog>
</template>

<script>
export default {
  props:{
    status: { required: true },
    commentId : { required: true },
  },
  data() {
        return {
            comment:{}
        }
  },
  computed: {
    dialog: {
        get() {
            return this.status;
        },
        set(value) {
            if (!value) {
                this.$emit("close");
            }
        }
    }
  },
  mounted() {
        this.getComment();
  },
  methods: {
        getComment(){
            this.axios.get(`/comment/${this.commentId}`).then( response=>{
                this.comment = response.data;
            })
        },
        save(){
            this.axios.put(`/comment/${this.commentId}`,this.comment).then(()=>{
                this.dialog = false
            });
        }
    
  },
};
</script>