<template>
    <v-container>
        <v-card>
            <v-card-title>New Post</v-card-title>
            <v-card-text>
                <v-text-field
                    label="Title"
                    v-model="post.title"
                    :error="!!errors.title"
                    :error-messages="errors.title"
                ></v-text-field>
                
                <ckeditor 
                    v-model="post.content"
                    :config="config" 
                    :editor="editor"
                    :error-messages="errors.content" 
                    :error="!!errors.content"
                    ></ckeditor>
                <v-file-input accept="image/*" v-model="files" label="Add files" multiple prepend-icon="mdi-paperclip"></v-file-input>
                <v-list-item v-for="(file, index) in post.uploads" :key="'old_' + index">
                    {{file.name}}
                    <v-spacer></v-spacer>
                    <v-btn icon color="error" @click="removedFile(index, 'old')">
                      <v-icon>mdi-close-circle</v-icon>
                    </v-btn>
                  </v-list-item>
                  <v-list-item v-for="(file, index) in xfiles" :key="'new_' + index">
                    {{file.name}}
                    <v-spacer></v-spacer>
                    <v-btn icon color="error" @click="removedFile(index)">
                      <v-icon>mdi-close-circle</v-icon>
                    </v-btn>
                </v-list-item>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  outlined color="primary" @click="savePost()"> Post </v-btn>
                <v-btn  outlined color="red" @click="quit()" > Quit </v-btn>
            </v-card-actions>
        </v-card>        
    </v-container>    
</template>
<script>
import Vue from 'vue'
import CKEditor from "@ckeditor/ckeditor5-vue";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

Vue.use(CKEditor);
export default {
    props:{
        postId:{ required: false }
    },
    data() {
        return {
            config: {
                height: "auto",
                toolbar: [ 'heading', '|', 'bulletedList', 'numberedList', 'bold', 'italic','|', 'link', 'insertTable', 'undo', 'redo' ]
            },
            editor: ClassicEditor,
            files:[],
            xfiles:[],
            post:{
                title:"",
                content:"",
                user_id: null 
            },
            errors:{}
        }
    },
    mounted() {
        this.initialize();
        if (this.postId){
            this.getPost();
        }
    },
    methods: {
        removedFile(index, type) {
        if (type == "old") {
            this.post.uploads.splice(index, 1);
        }else {
            this.xfiles.splice(index, 1);
        }
        },
        initialize(){
            this.$http.post('/auth/me').then(response => {
                this.post.user_id = response.data.id; 
            })
        },
        quit(){
            this.$router.push("/post")
        },
        removeFile(index){
            this.xfiles.splice(index, 1)
        },
        savePost(){
            let request;
            let form = new FormData;
            let currentPost = {...this.post}

            Object.keys(currentPost).forEach(key => {
                form.append(key, currentPost[key])
            });

            this.xfiles.forEach(file => {
                form.append('files[]', file)
            });

            if (this.postId){
                this.post.uploads.forEach(file => {
                    form.append('oldFiles[]', file.path)
                });
                form.append('_method', "put")
                request = this.$http.post(`/post/${this.post.id}`, form);
            }else{
                request = this.axios.post('/post',form); 
            }
            request.then(()=>{
                this.$router.push('/post');
            }).catch(error=>{
                this.errors = error.response.data.errors;
            });
        },
        getPost(){
            this.axios.get(`/post/${this.postId}`).then(response =>{
                this.post= response.data;
            });
        }

    },
    watch: {
        files(){
            this.files.forEach(file => {
                this.xfiles.push(file);
            });
        }
    },
}
</script>