<template>
    <v-container >
        <v-row>
        <v-col cols="12">
        <v-card class="mt-2">
            <v-card-title>
            <v-icon
                large
                left
            >
                mdi-warning
            </v-icon>
            <span class="title font-weight-light">{{post.title}}</span>
            </v-card-title>

            <v-card-text v-html="post.content" class="subtitle-1"></v-card-text>
            <v-list-item v-for="(file, id) in post.uploads" :key="id">
                <v-chip @click="showUpload(file.id)">
                    {{file.name}}
                </v-chip>
            </v-list-item>
            <v-card-actions>
            <v-list-item class="grow">
                <v-list-item-avatar color="grey darken-3">
                <v-img
                    class="elevation-6"
                    v-if="post.user"
                    :src="getUserPhoto(post.user.id)"
                ></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                <v-list-item-title v-if="post.user"> {{post.user.login}} </v-list-item-title>
                </v-list-item-content>

                <v-row
                align="center"
                justify="end"
                >
                <v-btn icon v-if="!postLiked" @click="likePost(post.id)">
                    <v-icon class="mr-1">mdi-thumb-up-outline</v-icon>
                </v-btn>
                <v-btn icon v-if="postLiked" color="blue" @click="unlikePost(post.id)">
                    <v-icon class="mr-1">mdi-thumb-up-outline</v-icon>
                </v-btn>
                <span class="subheading mr-2" v-if="post.likes">{{post.likes.length}}</span>
                <span class="mr-1">·</span>
                
                <v-icon class="mr-1">mdi-comment-outline</v-icon>
                    
                <span class="subheading" v-if="post.comments"> {{post.comments.length}} </span>
                </v-row>
            </v-list-item>
            </v-card-actions>
        </v-card> 
        <v-timeline dense >
            <v-timeline-item
            v-for="comment in post.comments"
            :key="comment.id"
            >
            <template v-slot:icon>
                <v-avatar>
                    <img v-if="me.id"
                    :src="getUserPhoto(me.id)">
                </v-avatar>
            </template>
            
            
            <v-card class="elevation-4">
                <v-card-title class="headline">
                    User 
                    <v-spacer></v-spacer>
                    <v-btn small color="blue" dark icon @click="showEditDialog(comment.id)" > <v-icon>mdi-pencil</v-icon> </v-btn>
                    <v-btn small color="red" dark icon @click="showDeleteDialog(comment.id)"> <v-icon>mdi-delete</v-icon> </v-btn>
                </v-card-title>
                <v-card-text> {{comment.content}} </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn  v-if="!commentLiked(comment)" @click="likeComment(comment.id)" icon > 
                        <v-icon  class="mr-1">mdi-thumb-up-outline</v-icon>
                    </v-btn>
                    <v-btn v-if="commentLiked(comment)" icon color="blue" @click="unlikeComment(comment.id)" > 
                        <v-icon  class="mr-1">mdi-thumb-up-outline</v-icon>
                    </v-btn>
                    <span class="subheading" v-if="comment.likes"> {{comment.likes.length}} </span>
                </v-card-actions>
            </v-card>
            </v-timeline-item>
        </v-timeline>
        <v-col class="ml-4">
            <v-card class="elevation-4" >
                <v-card-title> 
                    <v-list-item three-line>
                        <v-list-item-avatar
                            size="50"
                            tile
                        >
                            <v-img v-if="me.id" :src="getUserPhoto(me.id)"></v-img>
                        </v-list-item-avatar>
                        <v-list-item-content class="align-self-start">
                            <v-list-item-title class="headline mb-2" > {{me.login}} </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-card-title>
                <v-card-text>
                    <v-textarea
                    outlined
                    name="input-7-4"
                    v-model="comment.content"
                    :error="!!errors.content"
                    :error-messages="errors.content"
                    ></v-textarea>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn small color="success" dark @click="addComment()" >Comment</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
        </v-col>
        
        </v-row>
        <edit-comment @close="onEditCommentClose()" v-if="commentId" :status="editCommentDialog" :comment-id="commentId"></edit-comment>
        <v-dialog v-model="deleteDialog" max-width="400">
          <v-card>
            <v-card-title class="headline">Delete Comment</v-card-title>
            <v-card-text>Are you sure you want to delete this comment?</v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="red darken-1" text @click="deleteComment()"> Yes </v-btn>
              <v-btn color="green darken-1" text @click="deleteDialog = false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import EditComment from './_partials/EditComment';
export default {
    components:{
        EditComment
    },
    data() {
        return {
            post:{},
            comment:{
                user_id:null,
                post_id:null,
                content:""
            },
            deleteDialog:false,
            commentId:null,
            editCommentDialog:false,
            errors:{},
            me:{},
            postLiked: false
        }
    },
    mounted() {
        this.getPost();
        this.initialize();
    },
    
    methods: {
        postIsLiked (){
            for (let i = 0; i < this.post.likes.length; i++) {
                if (this.me.id == this.post.likes[i].user_id){
                    this.postLiked = true;
                    return;
                }
            }
            this.postLiked = false;
            return;
        },
        initialize(){
            this.$http.post('auth/me').then(response => {
                this.me = response.data;
                this.comment.user_id = response.data.id; 
            })
        },
        getPost(){
            let postId = this.$route.params.id;
            this.axios.get(`post/${postId}`).then(response=>{
                this.post=response.data;
                this.postIsLiked();
            })
        },
        addComment(){
            this.comment.post_id = this.post.id;
            this.axios.post(`comment/`,this.comment).then(response=>{
                this.getPost();
                this.comment.content ="";
            }).catch(error=>{
                this.errors = error.response.data.errors;
            })
        },
        showDeleteDialog(commentId){
            this.commentId = commentId;
            this.deleteDialog = true;
        },
        deleteComment(){
            this.axios.delete(`comment/${this.commentId}`).then(()=>{
                this.deleteDialog = false;
                this.getPost();
            })
        },
        showEditDialog(commentId){
            this.commentId = commentId;
            this.editCommentDialog = true
        },
        onEditCommentClose(){
            this.editCommentDialog = false;
            this.getPost();
        },
        openFileTab(url){
               
        },
        showUpload(id){
            window.open(`post/upload/${id}`, '_blank');
        },
        likePost(id){
            this.axios.post(`post/${id}/like`,this.me).then(()=>{
                this.getPost();            
            });
        },
        likeComment(id){
            this.axios.post(`comment/${id}/like`,this.me).then(()=>{
                this.getPost();            
            });
        },
        unlikePost(id){
            this.axios.post(`post/${id}/like/delete`, this.me).then(()=>{
                this.getPost();            

            });
        },
        unlikeComment(id){
            this.axios.post(`comment/${id}/like/delete`, this.me).then(()=>{
                this.getPost();            
            });
        },
        commentLiked(comment){
            for (let i = 0; i < comment.likes.length; i++) {
                if(comment.likes[i].user_id == this.me.id ){
                    return true;
                }
            }
            return false;
        },
        getUserPhoto(id){
            return `${process.env.VUE_APP_API_URL}/api/user/${id}/image`
        }
    },
}
</script>