<template>
    <div>
        <PostForm :post-id="$route.params.id"></PostForm>
    </div>
</template>
<script>
import PostForm from './_partials/Form'
export default {
    components:{
        PostForm
    },
}
</script>