<template>
    <v-container>
        <v-card>
            <v-card-title> 
                Posts
                <v-spacer></v-spacer>
                <v-text-field
                append-icon="mdi-magnify"
                placeholder="Search"
                v-model="search"
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-btn rounded outlined color="primary" to="post/add">New post</v-btn>
            </v-card-title>
            <v-card-text>
                <v-list three-line>
                    <template v-for="(post, index) in posts">
                        <v-list-item
                        :key="post.id"
                        >
                        <v-list-item-avatar @click="userProfile(post.user_id)" >
                            <v-img v-if="post.user" :src="getUserPhoto(post.user.id)"></v-img>
                        </v-list-item-avatar>
                        
                        <v-list-item-content @click="detailsPage(post.id)">
                            <v-list-item-title v-html="post.title"></v-list-item-title>
                            <v-list-item-subtitle v-if="post.user" v-html="post.user.login"></v-list-item-subtitle>
                        </v-list-item-content> 
                        <v-spacer></v-spacer>
                            <v-btn icon color="purple" v-if="me.id == post.user_id" :to="'/post/edit/'+post.id" ><v-icon>mdi-pencil</v-icon></v-btn>
                            <v-btn icon color="red" v-if="me.id == post.user_id" @click="showDeleteDialog(post.id)" ><v-icon>mdi-delete</v-icon></v-btn>
                        </v-list-item>
                    </template>
                    </v-list>
            </v-card-text>
            <v-card-actions>
                <v-pagination
                :length="pages"
                v-model="page"
                ></v-pagination>
            </v-card-actions>
        </v-card>
        <v-dialog v-model="deleteDialog" max-width="400">
          <v-card>
            <v-card-title class="headline">Delete Post</v-card-title>
            <v-card-text>Are you sure you want to delete this post?</v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="red darken-1" text @click="deletePost()"> Yes </v-btn>
              <v-btn color="green darken-1" text @click="deleteDialog = false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
  export default {
    data: () => ({
      deleteDialog: false,
      posts: [],
      postId: null,
      search:'',
      page:1,
      pages:null,
      me:{}
    }),
    mounted() {
      this.initialize();
      this.getAuthUser();
    },
    methods: {
      initialize(){
        this.axios.get('/post',{params:{page:this.page ,search: this.search}}).then(response => {
          this.pages=response.data.last_page;
          this.posts=response.data.data;
        });
      },
      getAuthUser(){
        this.axios.post('/auth/me').then(response=>{
          this.me = response.data;
        })
      },
      showDeleteDialog(postId){
        this.postId = postId;
        this.deleteDialog = true;
      },
      deletePost(){
        this.axios.delete(`/post/${this.postId}`).then(()=>{
          this.deleteDialog = false;
          this.initialize();
        })
      },
      detailsPage(id){
        this.$router.push(`/post/details/${id}`);
      },
      userProfile(userId){
        if (userId == this.me.id){
          this.$router.push('/profile')
        }else{
          this.$router.push(`/user/${userId}/profile`)
        }
      },
      getUserPhoto(id){
        return `${process.env.VUE_APP_API_URL}/api/user/${id}/image`;
      }
    },
    watch: {
      search(){
        this.initialize();
      },
      page(){
        this.initialize();
      }
    },
  }
</script>