<template>
    <v-container>
        <v-card>
            <v-card-title>
                <h3> Dashboard </h3>
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col
                        v-for="count in counts"
                        :key="count.title"
                    >
                        <v-card
                        class="pa-2"
                        tile
                        outlined
                        >
                            <v-card-title> {{count.title}} </v-card-title>
                            <v-card-title> {{count.count}} </v-card-title>

                        </v-card>
                    </v-col>
                </v-row>
                <v-row>

                    <v-col cols="4">
                        <v-card
                            class="pa-2"
                            tile
                            outlined
                            >
                                <v-card-title> Most liked posts: </v-card-title>

                                <v-card-text>
                                    <v-list three-line>
                                        <template v-for="(post, index) in posts">
                                            <v-list-item
                                            :key="post.id"
                                            >
                                            <v-list-item-avatar @click="profileDetails(post.user.id)">
                                                <v-img v-if="post.user.id" :src="getUserPhoto(post.user.id)"></v-img>
                                            </v-list-item-avatar>
                                            
                                            <v-list-item-content @click="postDetails(post.id)" >
                                                <v-list-item-title v-html="post.title"></v-list-item-title>
                                                <v-list-item-subtitle v-if="post.user" v-html="post.user.login"></v-list-item-subtitle>
                                            </v-list-item-content> 
                                            <v-spacer></v-spacer>
                                            </v-list-item>
                                        </template>
                                        </v-list>
                                </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col cols="4">
                        <v-card
                            class="pa-2"
                            tile
                            outlined
                            >
                                <v-card-title> Most liked comments: </v-card-title>

                                <v-card-text>
                                    <v-list three-line>
                                        <template v-for="(comment, index) in comments">
                                            <v-list-item
                                            :key="comment.id"
                                            >
                                            <v-list-item-avatar @click="profileDetails(comment.user.id)">
                                                <v-img v-if="comment.user.id" :src="getUserPhoto(comment.user.id)"></v-img>
                                            </v-list-item-avatar>
                                            
                                            <v-list-item-content @click="postDetails(comment.post_id)" >
                                                <v-list-item-title v-if="comment.user" v-html="comment.user.login"></v-list-item-title>
                                                <v-list-item-subtitle v-html="comment.content"></v-list-item-subtitle>
                                            </v-list-item-content> 
                                            <v-spacer></v-spacer>
                                            </v-list-item>
                                        </template>
                                        </v-list>
                                </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col cols="4">
                        <v-card
                            class="pa-2"
                            tile
                            outlined
                            >
                                <v-card-title> Most followed members: </v-card-title>

                                <v-card-text>
                                    <v-list three-line >
                                        <template v-for="(user, index) in users" >
                                            <v-list-item
                                            :key="user.id"
                                            @click="profileDetails(user.id)"
                                            >
                                            <v-list-item-avatar >
                                                <v-img v-if="user.id" :src="getUserPhoto(user.id)" ></v-img>
                                            </v-list-item-avatar>
                                            
                                            <v-list-item-content >
                                                <v-list-item-title v-if="user" v-html="user.login"></v-list-item-title>
                                                <v-list-item-subtitle v-html="user.fullname"></v-list-item-subtitle>
                                            </v-list-item-content> 
                                            <v-spacer></v-spacer>
                                            </v-list-item>
                                        </template>
                                        </v-list>
                                </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card> 
    </v-container>
</template>
<script>
export default {
    data() {
        return {
            counts:[
                {
                    title: "Posts :",
                    count: 0
                },
                {
                    title: "Comments :",
                    count: 0
                },
                {
                    title: "Users :",
                    count: 0
                }
            ],
            posts:[],
            comments:[],
            users:[],
            me: null ,
        }
    },
    mounted() {
        
        this.getAuthUser();
        this.initialize();
        
    },
    methods: {
        getAuthUser(){
            this.axios.post('/auth/me').then(response => {
                this.me = response.data;
            })
        },
        initialize(){
            this.axios.get('/dashboard/index').then(response => {
                this.posts = response.data.mostLikedPosts;
                this.comments = response.data.mostLikedComments;
                this.users = response.data.mostFollowedUsers;
                this.counts[0].count = response.data.postCount;
                this.counts[1].count = response.data.commentCount;
                this.counts[2].count = response.data.postCount;

            });
        },
        postDetails(id){
            this.$router.push(`/post/details/${id}`);
        },
        profileDetails(id){
            if (id == this.me.id){
                this.$router.push(`/profile`);
            }else{
                this.$router.push(`/user/${id}/profile`);
            }
        },
        getUserPhoto(id){
            return `${process.env.VUE_APP_API_URL}/api/user/${id}/image`;
        }

    },

}
</script>