<template>
    <v-container>
        <v-row>
            <v-spacer></v-spacer>
        </v-row>
        <v-card class="mt-4">
            <v-toolbar prominent height="150px">
            <v-row>
                <v-col cols="3">
                    <v-avatar class="avatar pb-1" width="135px" height="135px">
                        <v-speed-dial
                        class="t100 r10"
                        absolute
                        bottom
                        right
                        direction="right"
                        :open-on-hover="true"
                        >
                        <template v-slot:activator>
                            <v-btn  @click="changeImageDialog = true" color="blue darken-2" dark fab x-small>
                            <v-icon>mdi-pencil</v-icon>
                            </v-btn>
                        </template>
                        <v-btn dark x-small fab color="green" class="t8">
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        </v-speed-dial>
                        <v-img v-if="user.id" :src="profileImage"></v-img>
                    </v-avatar>
                </v-col>
                <v-col>
                    <v-toolbar-title> {{user.fullname}} </v-toolbar-title>
                    <v-list-item-title><v-icon>mdi-email</v-icon> {{user.email}} </v-list-item-title>
                    <v-list-item-title> <v-icon>mdi-account</v-icon> {{user.login}} </v-list-item-title>
                </v-col>
            </v-row>
            <v-spacer></v-spacer>
            <v-btn v-if="!userId" @click="showEditProfile()" icon ><v-icon>mdi-account</v-icon></v-btn>
            </v-toolbar>
            <v-tabs
            height="40px"
            v-model="tab"
            background-color="primary"
            centered
            dark
            >
                <v-tabs-slider></v-tabs-slider>

                <v-tab href="#posts" >
                    Posts
                    <v-icon>mdi-posts</v-icon>
                </v-tab>

                <v-tab v-if="!userId" href="#following" >
                    Following
                    <v-icon>mdi-follow</v-icon>
                </v-tab>
            </v-tabs>
            <v-card-text>
                <profile-posts v-if="tab == 'posts' && user.id" :user="user.id"></profile-posts>
                <following v-if="tab == 'following' && user.id " :user="user.id" ></following>
            </v-card-text>

        </v-card>
    <edit-profile v-if="editPage" :user-id="user.id" :status="editPage" @close="editPage = false"></edit-profile>
    <v-dialog v-model="changeImageDialog" @close="changeImageDialog = false" max-width="400">
        <v-card>
            <v-card-title class="headline">Choose image</v-card-title>
            <v-card-text>
                <v-file-input accept="image/*" v-model="file" label="Add files" prepend-icon="mdi-paperclip"></v-file-input>
            </v-card-text>
            <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="red darken-1" text @click="changeImageDialog = false">Cancel</v-btn>
                <v-btn color="green darken-1" text @click="submitFile()"> Yes </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    </v-container>
</template>
<script>
import ProfilePosts from './_partials/ProfilePosts';
import EditProfile from './_partials/EditProfile';
import Following from './_partials/Following';
import { bus } from '../../main';

export default {
    components:{
        ProfilePosts,
        EditProfile,
        Following
    },
    data() {
        return {
            settings: null,
            editPage: false,
            user:{},
            tab:null,
            userId: null,
            changeImageDialog: false,
            file:{},
            profileImage:""
        }
    },
    mounted() {
        this.initialize();
         bus.$on('user-updated', () => {
            this.initialize();
        })
    },
    methods: {
        showEditProfile(){
            this.editPage = true;
        },
        initialize(){
            this.$http.post('/auth/me').then(response => {
                this.user = response.data;
                this.profileImage = `${process.env.VUE_APP_API_URL}/api/user/${this.user.id}/image`;
            });
        },
        submitFile(){
            this.profileImage = URL.createObjectURL(this.file);
            let formData = new FormData();
            formData.append('file', this.file);
            formData.append('_method', "put");
            this.axios.post(`/user/${this.user.id}/image`,formData).then(response => {
                this.changeImageDialog= false
            });
        },
    }
}
</script>