<template>
    <v-container>
        <v-row>
            <v-spacer></v-spacer>
        </v-row>
        <v-card class="mt-4">
            <v-toolbar prominent height="150px" >
            <v-row>
                <v-col cols="3" class="pb-12">
                    <v-avatar class="avatar pb-1" style="position: absolute" width="135px" height="135px">
                        <v-img v-if="user.id" :src="getUserPhoto(user.id)" ></v-img>
                    </v-avatar>
                </v-col>
                <v-col>
                    <v-toolbar-title> {{user.fullname}} </v-toolbar-title>
                    <v-list-item-title><v-icon>mdi-email</v-icon> {{user.email}} </v-list-item-title>
                    <v-list-item-title> <v-icon>mdi-account</v-icon> {{user.login}} </v-list-item-title>
                </v-col>
                
            </v-row>
            <v-spacer></v-spacer>

            <v-btn outlined color="red" v-if="followed && userId" @click="unFollow" > Unfollow </v-btn>
            <v-btn outlined color="green" v-if="!followed && userId" @click="follow" > Follow </v-btn>
            </v-toolbar>
            <v-tabs
            height="40px"
            v-model="tab"
            background-color="primary"
            centered
            dark
            >
                <v-tabs-slider></v-tabs-slider>

                <v-tab href="#posts">
                    Posts
                    <v-icon>mdi-posts</v-icon>
                </v-tab>
            </v-tabs>
            <v-card-text>
                <profile-posts v-if="tab == 'posts' && user.posts" :user="user.id"></profile-posts>
            </v-card-text>

        </v-card>
    <edit-profile v-if="editPage" :user-id="user.id" :status="editPage" @close="editPage = false"></edit-profile>
    </v-container>
</template>
<script>
import ProfilePosts from './_partials/ProfilePosts';
import EditProfile from './_partials/EditProfile';
export default {
    components:{
        ProfilePosts,
        EditProfile,
    },
    data() {
        return {
            settings: null,
            editPage: false,
            user:{},
            tab:null,
            userId: null,
            followed: false,
            me:{}
        }
    },
    mounted() {
        this.initialize();
    },
    methods: {
        showEditProfile(){
            this.editPage = true;
        },
        initialize(){
            let request;
            this.userId =this.$route.params.id;
            this.$http.post('/auth/me').then(response => {
                this.me = response.data;
                for (let i = 0; i < this.me.followings.length; i++) {
                    if(this.me.followings[i].id == parseInt(this.userId)){
                        this.followed = true; 
                    }
                }
                this.$http.get(`/user/${this.userId}`).then(response => {
                    this.user = response.data;
                });
            });
        },
        follow(){
            this.$http.post(`/user/${this.me.id}/followes/${this.userId}`).then(()=>{
                this.followed = true;
            });
        },
        unFollow(){
            this.$http.delete(`/user/${this.me.id}/followes/${this.userId}`).then(()=>{
                this.followed = false;
            });
        },
        getUserPhoto(id){
            return `${process.env.VUE_APP_API_URL}/api/user/${id}/image`;
        }
    },
}
</script>