<template>
    <v-container>
        <v-card>
            <v-card-title> 
                Users
                <v-spacer></v-spacer>
                <v-text-field
                append-icon="mdi-magnify"
                placeholder="Search"
                v-model="search"
                ></v-text-field>
                <v-spacer></v-spacer>
            </v-card-title>
            <v-card-text>
                <v-list three-line>
                    <template v-for="(user, index) in users">
                        <v-list-item
                        :key="user.id"
                        >
                        <v-list-item-avatar @click="profileDetails(user.id)" >
                            <v-img v-if="user.id" :src="getUserPhoto(user.id)" ></v-img>
                        </v-list-item-avatar>
                        
                        <v-list-item-content @click="profileDetails(user.id)">
                            <v-list-item-title> {{user.login}} </v-list-item-title>
                            <v-list-item-subtitle >{{user.fullname}}</v-list-item-subtitle>
                            <v-list-item-subtitle >{{user.email}}</v-list-item-subtitle>
                        </v-list-item-content> 
                        <v-spacer></v-spacer>
                            <v-icon>mdi-form-select</v-icon><span> {{ user.posts.length }} </span>
                        </v-list-item>
                    </template>
                    </v-list>
            </v-card-text>
            <v-card-actions>
                <v-pagination
                :length="pages"
                v-model="page"
                ></v-pagination>
            </v-card-actions>
        </v-card>
    </v-container>
</template>
<script>
  export default {
    data: () => ({
      deleteDialog: false,
      users: [],
      userId: null,
      search:'',
      page:1,
      pages:null,
      me:{}
    }),
    mounted() {
        this.getUsers();
        this.getAuthUser();
    },
    methods: {
        getUsers(){
            this.axios.get("/user",{params:{page:this.page ,search: this.search}}).then(response=>{
                this.pages=response.data.last_page;
                this.users = response.data.data;
            })
        },
        getAuthUser(){
            this.axios.post("/auth/me").then(response => {
                this.me = response.data;
            })
        },
        profileDetails(userId){
            if (this.me.id != userId){
                this.$router.push(`/user/${userId}/profile`);
            }else{
                this.$router.push(`/profile`);
            }
        },
        getUserPhoto(id){
            return `${process.env.VUE_APP_API_URL}/api/user/${id}/image`;
        }
    },
    watch: {
      search(){
        this.getUsers();
      },
      page(){
        this.getUsers();
      }
    }
    
  }
</script>