<template>
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
              >
                <v-toolbar-title>Login form</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Email"
                    name="email"
                    prepend-icon="mdi-email"
                    type="text"
                    v-model="credentials.email"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                    v-model="credentials.password"
                  ></v-text-field>
                </v-form>
                <v-alert
                  dense
                  outlined
                  type="error"
                  v-if="!allowed"
                >
                  Please verify your <strong>email</strong> or <strong>password</strong> and try again
                </v-alert>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  outlined color="green" to="/register">Register</v-btn>
                <v-btn color="primary" @click="login">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
</template>
<script>
export default {
  data() {
    return {
      credentials:{},
      allowed: true
    }
  },
  methods: {
    login() {
      this.$auth.login({
        data: {
          email: this.credentials.email,
          password: this.credentials.password,
        },
        rememberMe: true,
      }).then(()=>{}).catch(error => {
        if(error.response.status){
          this.allowed = false;
        }
      });
    },
  },
}
</script>