<template>
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
              >
                <v-toolbar-title>Register form</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Full name"
                    name="Full name"
                    prepend-icon="mdi-account"
                    type="text"
                    v-model="user.fullname"
                    :error="!!errors.fullname"
                    :error-messages="errors.fullname"
                  ></v-text-field>
                  <v-text-field
                    label="Login"
                    name="login"
                    prepend-icon="mdi-account"
                    type="text"
                    v-model="user.login"
                    :error="!!errors.login"
                    :error-messages="errors.login"
                  ></v-text-field>
                  
                  <v-text-field
                    label="email"
                    name="email"
                    prepend-icon="mdi-email"
                    type="text"
                    v-model="user.email"
                    :error="!!errors.email"
                    :error-messages="errors.email"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                    v-model="user.password"
                    :error="!!errors.password"
                    :error-messages="errors.password"
                  ></v-text-field>
                  
                  <v-text-field
                    id="password"
                    label="Password confirmation"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                    v-model="user.password_confirmation"
                    :error="!!errors.password_confirmation"
                    :error-messages="errors.password_confirmation"
                  ></v-text-field>
                  <v-file-input accept="image/*" v-model="file" label="Add photo" prepend-icon="mdi-paperclip"></v-file-input>
                  
                  
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn outlined color="green" to="/login" >Login</v-btn>
                <v-btn color="primary" @click="register()">Register</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <v-dialog v-model="emailConfirmation" @close="emailConfirmation = false" max-width="400">
        <v-card>
            <v-card-title class="headline">Confirme email</v-card-title>
            <v-card-text>
                <v-text-field
                  label="Code"
                  prepend-icon="mdi-lock"
                  v-model="emailCode"
                ></v-text-field>
                <v-alert
                  dense
                  outlined
                  type="error"
                  v-if="wrongCode"
                >
                  Please verify your <strong>email</strong> for the <strong>Code</strong>
                </v-alert>
            </v-card-text>
            <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="green darken-1" text @click="resendCode()"> Resand </v-btn>
                <v-btn color="green darken-1" text @click="confirmEmail()"> Yes </v-btn>

            </v-card-actions>
        </v-card>
    </v-dialog>
      </v-container>
    </v-content>
</template>
<script>
export default {
  data() {
    return {
      user:{
        fullname:"",
        login:"",
        email:"",
        password:"",
        password_confirmation:"",
        code:"",
      },
      file:{},
      emailConfirmation:"",
      emailCode:"",
      errors:{},
      wrongCode: false
    }
  },
  methods: {
    register(){
      this.sendEmail();
      this.emailConfirmation = true;
      
    },
    confirmEmail(){
      this.axios.post('/email/verify', {email: this.user.email, code: this.emailCode}).then(response=>{
        if (response.data == true){
          let currentUser = {...this.user}
          let form = new FormData;

          Object.keys(currentUser).forEach(key => {
            form.append(key, currentUser[key])
          });
          
          form.append('file', this.file);
          form.append('_method', "put");
          this.axios.post('/user', form).then(()=>{
            this.$router.push('/login');
          }).catch(error=>{
              this.errors = error.response.data.errors;
          });
        }else{
          this.wrongCode = true;
        }
      })
    },
    sendEmail(){
      this.axios.post('/email/send', this.user).catch(error=>{
          this.errors = error.response.data.errors;
          if (this.errors != {}) {
            this.emailConfirmation = false;
          }
      });
    },
    resendCode(){
      this.axios.post('/email/resend', this.user)
    }
  },
}
</script>