<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-btn icon v-if="token" @click="$auth.logout()"> <v-icon>mdi-logout</v-icon> </v-btn>
      </div>

      <v-spacer></v-spacer>
      <v-btn
        v-if="token"
        to="/"
        text
      >
        <span class="mr-2">Dashboard</span>
      </v-btn>
      <v-btn
        v-if="token"
        to="/user"
        text
      >
        <span class="mr-2">Users</span>
      </v-btn>
      <v-btn
        v-if="token"
        to="/post"
        text
      >
        <span class="mr-2">Posts</span>
      </v-btn>
      <v-btn
        v-if="token"
        to="/profile"
        text
      >
        <span class="mr-2">Profile</span>
      </v-btn>
      <v-btn
        v-if="!token"
        to="/login"
        text
      >
        <span class="mr-2">Login</span>
      </v-btn>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },
  computed: {
    token(){
      return this ? this.$auth.token() : null;
    }
  },
};
</script>
